{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogster</title>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'debug.css' %}" /> -->
  </head>
  <body class="base">
    <!-- navbar -->
    {% include '_navbar.html' %}
    <!-- container -->
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            {% block content %}{% endblock content %}
          </div>
          <div class="column is-4">
            <aside class="menu">
              <p class="menu-label is-italic">
                <strong>Side Menu</strong>
              </p>
              <ul class="menu-list">
                <li><a>Latest Post</a></li>
                <li><a>Announcement</a></li>
                <li><a>Calendars</a></li>
                <li><a>etc</a></li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </body>
  <script src="{% static 'main.js' %}"></script>
</html>
