{% load static %}
<nav
  class="navbar is-light has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">
      <img
        src="https://versions.bulma.io/0.7.0/images/bulma-logo.png"
        alt="Bulma: a modern CSS framework based on Flexbox"
        width="112"
        height="28"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'blogs:home' %}">
        Home
      </a>

      <a class="navbar-item" href="{% url 'blogs:about' %}">
        About
      </a>
      </div>



  </div>
</nav>
